#wrapper{
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
    height: 100vh;
    input{
        width: 100%;
        border-style: solid;
        border-color: #E0E0E0;
        border-radius: 1em;
        text-align-last: left;
        color: #666666;
        padding-top: .5em;
        padding-bottom: .5em;
        font-weight: bold;
    }
    input::placeholder{
        text-align: center;
    }
}

#list {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
