#pokemon {
  width: 97.8%;
  height: calc(100% - 7.767%);
  padding: 2% 1.1% 1%;

  > div:first-child {
    height: calc(33.5vh - 2vw);
    background-image: url("../../../public/icons/Pokeball.png");
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-position-x: right;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5.682%;
    padding-right: 5.682%;
    padding-top:4.667%;
    margin-bottom: 2vw;
  }
}

#center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: -15%;
  position: relative;
}

#leftArrow {
  transform: rotate(180deg);
}

#rightArrow {
  right: 0;
}

.arrow {
  filter: brightness(0.0) invert(1);
  color: white;
  height: 3vh;
  cursor: pointer;
  position: absolute;
}

#pokemonImg {
  max-height: 31.25vh;
  position: relative;
  bottom: 3%;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

#body {
  background-color: white;
  //height: calc(66.5vh - 2vw);
  width: 98vw;
  border-radius: 1rem;
}

#types {
  padding-top: 15.875%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;

  span {
    color: white !important;
    border-radius: 0.8em;
    font-size: 70%;
    padding: .4% 1.566%;
    font-family: 'poppinsbold';
  }
}

.section {

  display: flex;
  flex-direction: column;
  align-items: center;

  > span {
    font-size: 70%;
    font-family: poppinsbold;
  }
  p{
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    font-size: 1.5vh;
    color: #666666;
  }
}

#about {
  span{
    margin-top: 4.55%;
    margin-bottom: 4.55%;
  }
  p{
    margin-top: 4.55%;
    margin-bottom: 4.55%;
  }
}

#stats {
  > span{
    margin-bottom: 4.55%;
  }
  > div {
    display: flex;
    width: 89vw;
    flex-direction: row;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    padding-bottom: 12%;
  }
}

#characteristics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #666666;
  width: 80vw;

  div {
    align-items: center;
    text-align: center;
    width: 30vw;
    justify-content: center;
    height: 7vh;
    font-size: 3vw;
    >span{
      font-size: 2.5vw;
    }
    > div {
      height: 4vh;
      display: flex;
      gap: 3vw;
    }

    h6 {
      margin-block-start: auto;
    }
  }
}

#height {
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}

#moves {
  display: flex;
  flex-direction: column;

}

#attributes{
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 1.5vh;
  border-right: 1px solid #E0E0E0;
  padding-right: 3vw;
}

#statsValues{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}

@media (orientation: landscape) {

  #about {
    > span {
      font-size: 1.5vw;
    }
    p{
      font-size: 1.5vw;
    }
  }


  #characteristics {

    div {
      font-size: 2.5vh;
    }
  }

}
