<div id="pokemon" [ngClass]="pokemon.type[0].toLowerCase()">
    <div>
        <header>
            <a routerLink="/">
                <img src="../../assets/icons/arrow-left.svg">
            </a>
            <h1>
                {{auxService.capitalizeFirstLetter(pokemon.name)}}
            </h1>
            <span>
                #{{auxService.getNumber(pokemon.number)}}
            </span>
        </header>
        <div id="center">
            <img id="left-arrow" class="arrow" src="../../assets/icons/Frame.svg"/>
            <img id="pokemon-img" src="{{pokemon.img}}" />
            <img class="arrow" src="../../assets/icons/Frame.svg"/>
        </div>
    </div>
    <div id="body">
       
    </div>
</div>