#pokemon{
    width: 96vw;
    height: calc(100vh - 2*2vw);
    padding: 2vw;
    > div:first-child{
        height: calc(30vh - 2vw);
        background-image: url("../../assets/Iconos e imagenes/Pokeball.png");
        background-repeat: no-repeat;
        background-blend-mode: screen;
        background-position-x: right;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 5.5vw;
        padding-right: 5.5vw;
        margin-bottom: 2vw;
    }
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;
    justify-content: center;
    color: white;
    img{
        filter: brightness(0) invert(1);
        ;
    }
    a{
        height: 100%;
        display: flex;
        img {
            align-self: center;
            height: 3vh;
        }
    }
    h1 {
        margin-left: 4vw;
        font-size: 3vh;
    }
    span {
        margin-left: auto;
        color: white;
        align-self: center;
        font-size: 1.5vh;
    }
    
}

#center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: -6vh;
    position: relative;
}

#left-arrow {
    transform: rotate(180deg);
}

.arrow{
    filter: brightness(0.0) invert(1);
    color: white;
    height: 3vh;
}



#pokemon-img{
    height: 30vh;
    position: relative;
    bottom: 3vh;
}


#body {
    background-color: white;
    height: calc(70vh - 2*2vw);
    width: 96vw;
    border-radius: 1rem;
}