#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    > img {
        height: 5vh;
    }
    h1{
        margin-left: 4vw;
    }
}

#sort {
    margin-left: auto;
}

