/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: poppins;
    src: url("./assets/font/Poppins-Medium.ttf");
    src: url("./assets/font/Poppins-Bold.ttf");
}

body {
    margin:0;
    font-family: poppins;
    background-color: #F7F7F7;
}


.grass{
    border-color: #74CB48;
    span{
        color: #74CB48;
    }
    div {
        background-color: #74CB48;
    }
}

.fire{
    border-color: #F57D31;
    span{
        color: #F57D31;
    }
    div {
        background-color: #F57D31;
    }
}

.rock{
    border-color: #B69E31;
    span{
        color: #B69E31;
    }
    div {
        background-color: #B69E31;
    }
}

.ghost{
    border-color: #70559B;
    span{
        color: #70559B;
    }
    div {
        background-color: #70559B;
    }
}

.steel{
    border-color: #B7B9D0;
    span{
        color: #B7B9D0;
    }
    div {
        background-color: #B7B9D0;
    }
}

.water{
    border-color: #6493EB;
    span{
        color: #6493EB;
    }
    div {
        background-color: #6493EB;
    }
}
.psychic{
    border-color: #FB5584;
    span{
        color: #FB5584;
    }
    div {
        background-color: #FB5584;
    }
}
.ice{
    border-color: #9AD6DF;
    span{
        color: #9AD6DF;
    }
    div {
        background-color: #9AD6DF;
    }
}
.dark{
    border-color: #75574C;
    span{
        color: #75574C;
    }
    div {
        background-color: #75574C;
    }
}

.fairy{
    border-color: #E69EAC;
    span{
        color: #E69EAC;
    }
    div {
        background-color: #E69EAC;
    }
}

.normal{
    border-color: #AAA67F;
    span{
        color: #AAA67F;
    }
    div {
        background-color: #AAA67F;
    }
}

.flying{
    border-color: #A891EC;
    span{
        color: #A891EC;
    }
    div {
        background-color: #A891EC;
    }
}

.poison{
    border-color: #A43E9E;
    span{
        color: #A43E9E;
    }
    div {
        background-color: #A43E9E;
    }
}

.ground{
    border-color: #DEC16B;
    span{
        color: #DEC16B;
    }
    div {
        background-color: #DEC16B;
    }
}
.bug{
    border-color: #A7B723;
    span{
        color: #A7B723;
    }
    div {
        background-color: #A7B723;
    }
}

.electric{
    border-color: #F9CF30;
    span{
        color: #F9CF30;
    }
    div {
        background-color: #F9CF30;
    }
}

.dragon{
    border-color: #4037FF;
    span{
        color: #4037FF;
    }
    div {
        background-color: #4037FF;
    }
}

.fighting{
    border-color: #C12239;
    span{
        color: #C12239;
    }
    div {
        background-color: #C12239;
    }
}

a{
    text-decoration: none;
}